@charset "UTF-8";
/* CSS Document */

body {
	background:#BDE2F1; /* cielo */
}

#general { /* contiene objetos evita scroll */
	background: url(../img/e03/nubes.jpg) no-repeat center; /* cafe */
}

#tituloApp {
	font-size:54px;
	line-height:54px;
}

.icoInfoPeq {
	left:0px;
}
.icoHomePeq {
	right:0px;
}
.icoPeq {
	position:absolute;
	top:0px;
	margin-top:0px;
}
#container {
	background:#999;
	position:absolute;
	top:0px;
	left:0px;
}

.pantallas {
	/*background:#666;*/
	width:960px;
	height:600px;
	margin:-580px auto 0px auto;
	
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-khtml-border-radius:0px;
	border-radius:0px;
}

#pantalla00 { /* contiene a #welcome */
	background:none !important;
	display:block;
	margin:0px auto 0px auto;
}

#respuestaOk {
	background:none;
}

.txBoxes {
	background-color:#DBF5F7;
	background-repeat:no-repeat;
	display:none;
	position:absolute;
	
	top:356px;
	left:10px;
	
	width:460px;
	padding:20px;
	
	font-size:48px;
	line-height:54px;
	color:#667F92;
	text-align:center;
	
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius:20px;
	
	z-index:1603;
}

