@charset "UTF-8";
/* CSS Document */

body {
	/*background-attachment:fixed;
	background-color:#FFF;
	background-image:url(../img/bg_grad_01.jpg);
	
	background-position:top center;
	background-repeat:no-repeat;
	 
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;*/
	
	background-color:#B6D6D9;/*celeste*/
	background-repeat:no-repeat;
	background-position:center;
	
	margin: 0px; /* for IE6 / IE7 */
	padding:0px;
	
	/*overflow:hidden !important;
	
	font-size:14px;
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	
	color:#333;
	
	height:100% !important;*/
}

#homebg {
	background:url(../img/home/ex01_bg.png) no-repeat top center;
	display:block;
	float:none;
	clear:both;
	position:relative;
	width:900px;
	height:550px;
	margin:0px auto 0px auto;
}

.homefig {
	background:#999;
	display:block;
	position:absolute;
	z-index:100;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
}

#ex01btnbola {
	left:210px;
	top:100px;
	
	width:52px;
	height:53px;
}
#ex01btnglobo {
	left:522px;
	top:75px;
	
	width:53px;
	height:75px;
}
#ex01btnbird {
	left:608px;
	top:26px;
	
	width:72px;
	height:65px;
}
#ex01btncometa {
	left:595px;
	top:201px;
	
	width:91px;
	height:98px;
}
#ex01btnCono {
	left:666px;
	top:370px;
	
	width:36px;
	height:64px;
}

#ex01bola {
	background:url(../img/home/ex01_bola.png) no-repeat top left;
	
	display:block;
	position:absolute;
	left:210px;
	top:100px;
	
	width:52px;
	height:53px;
	
	/*
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 * /
	-moz-transform:rotate(90deg); /* Firefox * /
	-webkit-transform:rotate(90deg); /* Safari and Chrome * /
	-o-transform:rotate(90deg); /* Opera */
}

#manobola {
	background:url(../img/home/ex01_mano.png) no-repeat top left;
	
	display:block;
	position:absolute;
	left:155px;
	top:113px;
	
	width:94px;
	height:33px;
}

#ex01globo {
	background:url(../img/home/ex01_globo.png) no-repeat top left;
	
	display:block;
	position:absolute;
	left:522px;
	top:81px;
	
	width:53px;
	height:70px;
}

#ex01bird {
	background:url(../img/home/ex01_bird.png) no-repeat top left;
	
	display:block;
	position:absolute;
	left:619px;
	top:33px;
	
	width:62px;
	height:58px;
}

#ex01cometa {
	background:url(../img/home/ex01_cometa.png) no-repeat top left;
	
	display:block;
	position:absolute;
	left:605px;
	top:201px;
	
	width:81px;
	height:95px;
}

#ex01cono {
	background:url(../img/home/ex01_cono.png) no-repeat top left;
	
	display:block;
	position:absolute;
	left:674px;
	top:379px;
	
	width:26px;
	height:52px;
}

#manoCono {
	background:url(../img/home/ex01_brazo.png) no-repeat top left;
	
	display:block;
	position:absolute;
	left:673px;
	top:388px;
	
	width:61px;
	height:77px;
}

.homePop {
	/*background: #e4f5fc; /* Old browsers * /
	background: #f9f9f9; /* Old browsers * /
	/* IE9 SVG, needs conditional override of 'filter' to 'none' * /
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2JmZThmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzlmZDhlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGY1ZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #bfe8f9 50%, #9fd8ef 51%, #e4f5fc 100%); /* FF3.6+ * /
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(50%,#bfe8f9), color-stop(51%,#9fd8ef), color-stop(100%,#e4f5fc)); /* Chrome,Safari4+ * /
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#bfe8f9 50%,#9fd8ef 51%,#e4f5fc 100%); /* Chrome10+,Safari5.1+ * /
	background: -o-linear-gradient(top,  #f9f9f9 0%,#bfe8f9 50%,#9fd8ef 51%,#e4f5fc 100%); /* Opera 11.10+ * /
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#bfe8f9 50%,#9fd8ef 51%,#e4f5fc 100%); /* IE10+ * /
	background: linear-gradient(to bottom,  #f9f9f9 0%,#bfe8f9 50%,#9fd8ef 51%,#e4f5fc 100%); /* W3C * /
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e4f5fc',GradientType=0 ); /* IE6-8 */
	
	background:#FFF;
	display:none;
	position:absolute;
	padding:14px 20px 12px 20px;
	color:#960;
	font-size:21px;
	font-weight:bold;
	text-align:center;
	
	-moz-box-shadow:     0px 0px 10px rgba(0,0,0,0.9);
	-webkit-box-shadow:  0px 0px 10px rgba(0,0,0,0.9);
	box-shadow:          0px 0px 10px rgba(0,0,0,0.9);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=1,MakeShadow=true,ShadowOpacity=90);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=1,MakeShadow=true,ShadowOpacity=90)";
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity:0.9;
	opacity:0.9;
}
.homePop:hover {
	background:#EFEFEF;
	color:#CF0026;
}

.homePop span {
	display:block;
	float:none;
	clear:both;
	font-size:15px;
	font-weight:normal !important;
}

#homePoptamano {
	/*display:block;*/
	top:135px;
	left:250px;
	width:130px;
	
	-webkit-border-radius:0px 20px 20px 20px;
	-moz-border-radius:0px 20px 20px 20px;
	border-radius:0px 20px 20px 20px;
}

#homePoplongitud {
	/*display:block;*/
	top:125px;
	left:370px;
	width:130px;
	
	-webkit-border-radius:20px 0px 20px 20px;
	-moz-border-radius:20px 0px 20px 20px;
	border-radius:20px 0px 20px 20px;
}

#homePopPosicion {
	/*display:block;*/
	top:60px;
	left:650px;
	width:130px;
	
	-webkit-border-radius:0px 20px 20px 20px;
	-moz-border-radius:0px 20px 20px 20px;
	border-radius:0px 20px 20px 20px;
}

#homePopDistancia {
	/*display:block;*/
	top:250px;
	left:445px;
	width:130px;
	
	-webkit-border-radius:20px 0px 20px 20px;
	-moz-border-radius:20px 0px 20px 20px;
	border-radius:20px 0px 20px 20px;
}

#homePopCantidad {
	/*display:block;*/
	top:415px;
	left:510px;
	width:130px;
	
	-webkit-border-radius:20px 0px 20px 20px;
	-moz-border-radius:20px 0px 20px 20px;
	border-radius:20px 0px 20px 20px;
}

#logoHome {
	background:url(../img/logo_home.png) no-repeat center #FFF;
	display:block;
	
	position:absolute;
	top:50%;
	left:50%;
	
	z-index:5001;
	
	width:240px;
	height:52px;
	padding:0px;
	
	margin:215px 0px 0px -90px;
	
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
	
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
}
#logoHome:hover {
	padding:0px 5px 0px 5px;
	margin-left:-65px;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity:0.9;
	opacity:0.9;
}

.logotop {
	background-image:url(../img/logoLPT_top.png);
	/*background-color:#CCC;*/
	background-position:10px 0px;
	background-repeat:no-repeat;
	
	display:block;
	float:right;
	
	width:180px;
	height:65px;
	
	margin:0px auto;
	padding:0px;
	
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
}
.logotop:hover {
	background-position:3px 0px;
}

#btnAgain {
	background:url(../img/ico_again.png) no-repeat 9px 15px #A2621A;
	display:block;
	float:none;
	clear:both;
	
	width:230px;
	padding:10px 15px 10px 45px;
	margin:20px auto 10px auto;
	
	text-align:left;
	font-size:30px;
	color:#FFF;
	
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-khtml-border-radius:15px;
	border-radius:15px;
}
#btnAgain:hover {
	background-color:#85500F;
}

#instruEx1 {
	background:url(../img/home/icon_top_home.png) no-repeat 4px 4px;
	display:block;
	float:left;
	
	width:650px;
	height:48px;
	
	margin:0px;
	padding:17px 0px 0px 55px;
}

#headerA {
	background:#FFF;
	display:block;
	float:none;
	clear:both;
	width:900px;
	height:65px;
	margin:0px auto;
}





/*#welcome {
	width:280px;
	padding:0px 20px 10px 20px;
	margin:-100px 0px 0px -360px;
}

h3 {
	margin:-10px 0px 10px 0px;
	padding:0px;
	text-align:center;
	font-weight:normal;
	font-size:24px;
	line-height:24px;
	color:#A2621A;
}

#tituloApp {
	font-size:42px;
	line-height:42px;
}*/
#welcome {
	background:#F4EADD;
	display:block;
	
	position:absolute;
	top:50%;
	left:50%;
	
	width:310px;
	height:240px;
	
	padding:30px 30px 20px 30px;
	margin:-200px 0px 0px -350px;
	
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius:20px;
}

#tituloApp {
	/*background:#CCC;*/
	border-bottom:#DBC1A2 solid 2px;
	display:block;
	float:none;
	clear:both;
	padding:0px 0px 5px 0px;
	margin:-40px 0px 20px 0px !important;
	line-height:60px;
	font-size:50px;
	text-align:center;
	color:#703403;
}

h3 {
	margin:0px 0px 10px 0px;
	font-size:24px;
	line-height:24px;
	color:#996633;
	font-weight:normal;
	text-align:justify;
	margin-bottom:5px;
}





.icoGrande {
	margin:-45px 0px 0px 0px;
}

#icoClose {
	margin-right:-65px;
}

.icoPeq {
	display:none;
	margin:12px 0px 0px 14px;
}

